<div class="ancenc-wrap">
    <div class="ancenc-header wp-ancenc-page-header">
        <h1 class="ancenc-header-title">DASHBOARD</h1>
        <div class="ancenc-actions-right">
            <a href="#"
               class="ancenc-button ancenc-button-ghost" target="_blank">
                Support </a>
        </div>
    </div>

    <div class="ancenc-floating-notices">
        <div role="alert" id="ancenc-ajax-notice" class="ancenc-notice" aria-live="assertive">
            <div class="ancenc-notice-content">
                <div class="ancenc-notice-message"><span class="ancenc-notice-icon dashicons-info ancenc-md"
                                                         aria-hidden="true"></span>
                    <p>Your settings have been updated!</p>
                </div>
            </div>
        </div>
        <div role="alert" id="wp-ancenc-s3support-alert" class="ancenc-notice" aria-live="assertive"></div>
    </div>

    <!--  <div id="ancenc-box-summary" class="ancenc-summary ancenc-box ancenc-summary ancenc-summary-ancenc">


         <div class="ancenc-summary-image-space" aria-hidden="true"></div>

         <div class="ancenc-summary-segment">
             <div class="ancenc-summary-details">
         <span class="ancenc-summary-large wp-ancenc-stats-human">
             0.0		</span>

                 <span class="ancenc-summary-detail wp-ancenc-savings">
             <span class="wp-ancenc-stats-human">B</span> /
             <span class="wp-ancenc-stats-percent">0</span>%
         </span>
                 <span class="ancenc-summary-sub">
             Total Savings		</span>
                 <span class="ancenced-items-count">
             <span class="wp-ancenc-count-total">
                 <span class="ancenc-summary-detail wp-ancenc-total-optimised">
                     0				</span>
                 <span class="ancenc-summary-sub">
                     Images Smushed				</span>
             </span>
                     </span>
             </div>
         </div>

         <div class="ancenc-summary-segment">
             <ul class="ancenc-list ancenc-stats-list">
                 <li class="ancenc-resize-savings">
             <span class="ancenc-list-label">
                 Image Resize Savings									<p
                     class="wp-ancenc-stats-label-message ancenc-hidden-sm ancenc-hidden-md ancenc-hidden-lg">
                         Save a ton of space by not storing over-sized images on your server. <a role="button"
                                                                                                 class="wp-ancenc-resize-enable"
                                                                                                 href="#">Enable image resizing</a>					</p>
                             </span>
                     <span class="ancenc-list-detail wp-ancenc-stats">
                                     <a role="button" class="ancenc-hidden-xs wp-ancenc-resize-enable" href="#">
                         Resize images					</a>
                             </span>
                 </li>
                 <li class="ancenc-dir-savings">
             <span class="ancenc-list-label">Directory Smush Savings									<p
                     class="wp-ancenc-stats-label-message ancenc-hidden-sm ancenc-hidden-md ancenc-hidden-lg">
                         Smush images that aren't located in your uploads folder.						<a
                     href="#"
                     class="wp-ancenc-dir-link" title="Select a directory you'd like to Smush.">
                             Choose directory						</a>
                     </p>
                             </span>
                     <span class="wp-ancenc-stats ancenc-list-detail">
                 <span class="wp-ancenc-stats-human"></span>
                 <span class="wp-ancenc-stats-sep ancenc-hidden">/</span>
                 <span class="wp-ancenc-stats-percent"></span>
                 <a href="#"
                    class="wp-ancenc-dir-link ancenc-hidden-xs" title="Select a directory you'd like to Smush.">
                     Choose directory				</a>
             </span>
                 </li>
             </ul>
         </div>


     </div>end box-summary -->

    <div class="ancenc-row-with-sidenav">
        <div class="ancenc-sidenav ancenc-sidenav">
            <ul class="ancenc-vertical-tabs ancenc-sidenav-hide-md">
                <li class="ancenc-vertical-tab ancenc-settings current">
                    <a href="#">
                        Settings </a>
                </li>
                <li class="ancenc-vertical-tab ancenc-tools ">
                    <a href="#">
                        Troubleshoot </a>
                </li>
            </ul>
        </div>
        <div>
            <div id="ancenc-box-bulk-settings" class="ancenc-bulk-settings ancenc-box ancenc-settings-wrapper ">
                <div class="ancenc-box-header">
                    <h3 class="ancenc-box-title">Settings</h3>
                </div><!-- end ancenc-box-title -->
                <div class="ancenc-box-body">
                    <form id="wp-ancenc-settings-form" method="post">
                        <input type="hidden" name="settings_section" id="settings_section" value="general">

                        {{#available_settings}}
                            <div class="ancenc-box-settings-row wp-ancenc-basic ">
                                <div class="ancenc-box-settings-col-1">
                                    <span class="ancenc-settings-label ">{{title}}</span>
                                    <span class="ancenc-description">{{description}}</span>
                                </div>
                                <div class="ancenc-box-settings-col-2" id="column-wp-ancenc-bulk">
                                    {{#options}}
                                        {{#single}}
                                            {{#check_type}}
                                                {{>toggle_control}}
                                            {{/check_type}}
                                            {{^check_type}}
                                                <input name="{{name}}" type="{{type}}" value="{{value}}"
                                                    {{#disabled}}disabled{{/disabled}} {{#size}}size="{{size}}"{{/size}} />
                                            {{/check_type}}
                                        {{/single}}
                                        {{^single}}
                                            <ul>
                                                {{#children}}
                                                    <li>{{#check_type}}{{>toggle_control}}{{/check_type}}</li>
                                                {{/children}}
                                            </ul>
                                        {{/single}}
                                    {{/options}}
                                    <!-- Print/Perform action in right setting column -->
                                </div>
                            </div>
                        {{/available_settings}}

                    </form>
                </div><!-- end box_content_class -->

                <div class="ancenc-box-footer">

                    <div class="ancenc-actions-right">
                        <button type="submit" class="ancenc-button ancenc-button-blue" id="wp-ancenc-save-settings"
                                aria-describedby="ancenc-submit-description" data-msg="">
                            Update settings
                        </button>

                        <span class="ancenc-icon-loader ancenc-loading ancenc-hidden"></span>
                    </div>
                </div><!-- end ancenc-box-footer -->


            </div><!-- end box-bulk-settings -->
        </div>
    </div><!-- end row -->


    <div class="ancenc-footer">
        Plugin by <a href="https://anciented.io">anciented.io</a>
    </div>

    <input type="hidden" id="wp_ancenc_options_nonce" name="wp_ancenc_options_nonce" value="{{update_nonce}}">
</div>