<div class="ancenc_wrap">
    <div class="topbar">
        <h2>DASHBOARD</h2>
    </div>
    <div class="settings_container">
        <div class="sidebar"></div>
        <div class="main_content"></div>
    </div>
</div>