<div class="ancenc-wrap">
    <div class="ancenc-header wp-ancenc-page-header">
        <h1 class="ancenc-header-title">DASHBOARD</h1>
        <div class="ancenc-actions-right">
            <a href="#"
               class="ancenc-button ancenc-button-ghost" target="_blank">
                Support </a>
        </div>
    </div>

    <div class="ancenc-floating-notices">
        <div role="alert" id="wp-ancenc-ajax-notice" class="ancenc-notice" aria-live="assertive"></div>
        <div role="alert" id="wp-ancenc-s3support-alert" class="ancenc-notice" aria-live="assertive"></div>
    </div>

    <div id="ancenc-box-summary" class="ancenc-summary ancenc-box ancenc-summary ancenc-summary-ancenc">


        <div class="ancenc-summary-image-space" aria-hidden="true"></div>

        <div class="ancenc-summary-segment">
            <div class="ancenc-summary-details">
		<span class="ancenc-summary-large wp-ancenc-stats-human">
			0.0		</span>

                <span class="ancenc-summary-detail wp-ancenc-savings">
			<span class="wp-ancenc-stats-human">B</span> /
			<span class="wp-ancenc-stats-percent">0</span>%
		</span>
                <span class="ancenc-summary-sub">
			Total Savings		</span>
                <span class="ancenced-items-count">
			<span class="wp-ancenc-count-total">
				<span class="ancenc-summary-detail wp-ancenc-total-optimised">
					0				</span>
				<span class="ancenc-summary-sub">
					Images Smushed				</span>
			</span>
					</span>
            </div>
        </div>

        <div class="ancenc-summary-segment">
            <ul class="ancenc-list ancenc-stats-list">
                <li class="ancenc-resize-savings">
			<span class="ancenc-list-label">
				Image Resize Savings									<p
                    class="wp-ancenc-stats-label-message ancenc-hidden-sm ancenc-hidden-md ancenc-hidden-lg">
						Save a ton of space by not storing over-sized images on your server. <a role="button"
                                                                                                class="wp-ancenc-resize-enable"
                                                                                                href="#">Enable image resizing</a>					</p>
							</span>
                    <span class="ancenc-list-detail wp-ancenc-stats">
									<a role="button" class="ancenc-hidden-xs wp-ancenc-resize-enable" href="#">
						Resize images					</a>
							</span>
                </li>
                <li class="ancenc-dir-savings">
			<span class="ancenc-list-label">Directory Smush Savings									<p
                    class="wp-ancenc-stats-label-message ancenc-hidden-sm ancenc-hidden-md ancenc-hidden-lg">
						Smush images that aren't located in your uploads folder.						<a
                    href="#"
                    class="wp-ancenc-dir-link" title="Select a directory you'd like to Smush.">
							Choose directory						</a>
					</p>
							</span>
                    <span class="wp-ancenc-stats ancenc-list-detail">
				<span class="wp-ancenc-stats-human"></span>
				<span class="wp-ancenc-stats-sep ancenc-hidden">/</span>
				<span class="wp-ancenc-stats-percent"></span>
				<a href="#"
                   class="wp-ancenc-dir-link ancenc-hidden-xs" title="Select a directory you'd like to Smush.">
					Choose directory				</a>
			</span>
                </li>
            </ul>
        </div>


    </div><!-- end box-summary -->

    <div class="ancenc-row-with-sidenav">

        <div class="ancenc-sidenav ancenc-sidenav">
            <ul class="ancenc-vertical-tabs ancenc-sidenav-hide-md">
                <li class="ancenc-vertical-tab ancenc-settings current">
                    <a href="#">
                        Settings </a>
                </li>
                <li class="ancenc-vertical-tab ancenc-tools ">
                    <a href="#">
                        Troubleshoot </a>
                </li>
            </ul>

            <div class="ancenc-sidenav-hide-lg">
                <div class="select-container ancenc-mobile-nav"><span class="dropdown-handle" aria-hidden="true"></span><select
                        class="ancenc-mobile-nav ancenc-styled" aria-hidden="true" hidden="hidden"
                        style="display: none;">
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=bulk"
                            selected="selected">Bulk Smush
                    </option>
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=directory">Directory
                        Smush
                    </option>
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=integrations">
                        Integrations
                    </option>
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=lazy_load">Lazy Load
                    </option>
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=cdn">CDN</option>
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=tools">Tools</option>
                    <option value="http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=settings">Settings
                    </option>
                </select>
                    <div class="select-list-container">
                        <button type="button" class="list-value" aria-haspopup="listbox" id="undefined-button"
                                aria-labelledby="undefined undefined-button">Bulk Smush
                        </button>
                        <ul tabindex="-1" role="listbox" class="list-results" id="undefined-list"
                            aria-activedescendant="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=settings">
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=bulk"
                                class="current" aria-selected="true">Bulk Smush
                            </li>
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=directory">
                                Directory Smush
                            </li>
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=integrations">
                                Integrations
                            </li>
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=lazy_load">
                                Lazy Load
                            </li>
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=cdn">
                                CDN
                            </li>
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=tools">
                                Tools
                            </li>
                            <li role="option"
                                id="undefined-option-http://encrypt.test/wp-admin/admin.php?page=ancenc&amp;view=settings">
                                Settings
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>

            <div id="ancenc-box-bulk-settings" class="ancenc-bulk-settings ancenc-box ancenc-settings-wrapper ">

                <div class="ancenc-box-header">
                    <h3 class="ancenc-box-title">Settings</h3>
                </div><!-- end ancenc-box-title -->

                <div class="ancenc-box-body">


                    <form id="wp-ancenc-settings-form" method="post">
                        <input type="hidden" name="setting_form" id="setting_form" value="bulk">

                        <div class="ancenc-box-settings-row wp-ancenc-basic ">
                            <div class="ancenc-box-settings-col-1">
				<span class="ancenc-settings-label ">Enabled File Types</span>

                                <span class="ancenc-description">
					Encryption is only enabled for the checked file types, it's recommended that you don't enable encryption for public images, as this may significantly affect the website performance.</span>
                            </div>
                            <div class="ancenc-box-settings-col-2" id="column-wp-ancenc-bulk">
                                <div class="ancenc-form-field">
                                    <div class="ancenc-form-field-inline">
                                            <label><input type="checkbox"> {{.}}</label>
                                    </div>
                                </div>
                                <!-- Print/Perform action in right setting column -->
                            </div>
                        </div>
                        <div class="ancenc-box-settings-row wp-ancenc-basic ">
                            <div class="ancenc-box-settings-col-1">
				<span class="ancenc-settings-label ">
					Automatic compression									</span>

                                <span class="ancenc-description">
					When you upload images to your site, we will automatically optimize and compress them for you.				</span>
                            </div>
                            <div class="ancenc-box-settings-col-2" id="column-wp-ancenc-auto">
                                <div class="ancenc-form-field">
                                    <label for="wp-ancenc-auto" class="ancenc-toggle">
                                        <input type="checkbox" value="1" id="wp-ancenc-auto" name="wp-ancenc-auto"
                                               aria-labelledby="wp-ancenc-auto-label"
                                               aria-describedby="wp-ancenc-auto-desc" checked="checked">
                                        <span class="ancenc-toggle-slider" aria-hidden="true"></span>
                                        <span id="wp-ancenc-auto-label" class="ancenc-toggle-label">
								Automatically compress my images on upload							</span>
                                    </label>
                                    <!-- Print/Perform action in right setting column -->
                                    <div class="ancenc-toggle-content">
                                        <div class="ancenc-notice " style="margin-top: 10px">
                                            <div class="ancenc-notice-content">
                                                <div class="ancenc-notice-message">
                                                    <p>Note: We will only automatically compress the image sizes
                                                        selected above.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Print/Perform action in right setting column -->
                            </div>
                        </div>
                        <div class="ancenc-box-settings-row wp-ancenc-basic ">
                            <div class="ancenc-box-settings-col-1">
				<span class="ancenc-settings-label ">
					Metadata									</span>

                                <span class="ancenc-description">
					Photos often store camera settings in the file, i.e., focal length, date, time and location. Removing EXIF data reduces the file size. Note: it does not strip SEO metadata.				</span>
                            </div>
                            <div class="ancenc-box-settings-col-2" id="column-wp-ancenc-strip_exif">
                                <div class="ancenc-form-field">
                                    <label for="wp-ancenc-strip_exif" class="ancenc-toggle">
                                        <input type="checkbox" value="1" id="wp-ancenc-strip_exif"
                                               name="wp-ancenc-strip_exif" aria-labelledby="wp-ancenc-strip_exif-label"
                                               aria-describedby="wp-ancenc-strip_exif-desc" checked="checked">
                                        <span class="ancenc-toggle-slider" aria-hidden="true"></span>
                                        <span id="wp-ancenc-strip_exif-label" class="ancenc-toggle-label">
								Strip my image metadata							</span>
                                    </label>
                                    <!-- Print/Perform action in right setting column -->
                                    <span class="ancenc-description ancenc-toggle-description"
                                          id="wp-ancenc-strip_exif-desc">
			Note: This data adds to the size of the image. While this information might be
					important to photographers, it’s unnecessary for most users and safe to remove.		</span>
                                </div>
                                <!-- Print/Perform action in right setting column -->
                            </div>
                        </div>
                        <div class="ancenc-box-settings-row wp-ancenc-basic ">
                            <div class="ancenc-box-settings-col-1">
				<span class="ancenc-settings-label ">
					Image Resizing									</span>

                                <span class="ancenc-description">
					Detect unnecessarily large oversize images on your pages to reduce their size and decrease load times.				</span>
                            </div>
                            <div class="ancenc-box-settings-col-2" id="column-wp-ancenc-resize">
                                <div class="ancenc-form-field">
                                    <label for="wp-ancenc-resize" class="ancenc-toggle">
                                        <input type="checkbox" value="1" id="wp-ancenc-resize" name="wp-ancenc-resize"
                                               aria-labelledby="wp-ancenc-resize-label"
                                               aria-describedby="wp-ancenc-resize-desc">
                                        <span class="ancenc-toggle-slider" aria-hidden="true"></span>
                                        <span id="wp-ancenc-resize-label" class="ancenc-toggle-label">
								Resize my full size images							</span>
                                    </label>
                                    <!-- Print/Perform action in right setting column -->
                                    <span class="ancenc-description ancenc-toggle-description"
                                          id="wp-ancenc-resize-desc">
			Save a ton of space by not storing over-sized images on your server. Set a maximum height and width for all images uploaded to your site so that any unnecessarily large images are automatically resized before they are added to the media gallery. This setting does not apply to images ancenced using Directory Smush feature.		</span>
                                    <div class="wp-ancenc-resize-settings-wrap ancenc-hidden">
                                        <div class="ancenc-row">
                                            <div class="ancenc-col">
                                                <label aria-labelledby="wp-ancenc-label-max-width"
                                                       for="wp-ancenc-resize_width" class="ancenc-label">
                                                    Max width </label>
                                                <input aria-required="true" type="number"
                                                       class="ancenc-form-control wp-ancenc-resize-input"
                                                       aria-describedby="wp-ancenc-resize-note"
                                                       id="wp-ancenc-resize_width" name="wp-ancenc-resize_width"
                                                       value="2560">
                                            </div>
                                            <div class="ancenc-col">
                                                <label aria-labelledby="wp-ancenc-label-max-height"
                                                       for="wp-ancenc-resize_height" class="ancenc-label">
                                                    Max height </label>
                                                <input aria-required="true" type="number"
                                                       class="ancenc-form-control wp-ancenc-resize-input"
                                                       aria-describedby="wp-ancenc-resize-note"
                                                       id="wp-ancenc-resize_height" name="wp-ancenc-resize_height"
                                                       value="2560">
                                            </div>
                                        </div>
                                        <div class="ancenc-description" id="wp-ancenc-resize-note">
                                            Currently, your largest image size is set at <strong>1568px wide × 9999px
                                            high</strong>.
                                            <div class="ancenc-notice ancenc-notice-info wp-ancenc-update-width ancenc-no-margin-bottom ancenc-hidden">
                                                <div class="ancenc-notice-content">
                                                    <div class="ancenc-notice-message">
                                                        <p>Just to let you know, the width you've entered is less than
                                                            your largest image and may result in pixelation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ancenc-notice ancenc-notice-info wp-ancenc-update-height ancenc-no-margin-bottom ancenc-hidden">
                                                <div class="ancenc-notice-content">
                                                    <div class="ancenc-notice-message">
                                                        <p>Just to let you know, the height you’ve entered is less than
                                                            your largest image and may result in pixelation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="ancenc-description ancenc-toggle-description">
			Note: Image resizing happens automatically when you upload attachments. To support
				retina devices, we recommend using 2x the dimensions of your image size. Animated GIFs will not be
				resized as they will lose their animation, please use a tool such as <a
                                            href="#" target="_blank">http://gifgifs.com/resizer/</a> to resize
				then re-upload.			</span>
                                </div>
                                <!-- Print/Perform action in right setting column -->
                            </div>
                        </div>
                    </form>
                </div><!-- end box_content_class -->

                <div class="ancenc-box-footer">

                    <div class="ancenc-actions-right">
                        <button type="submit" class="ancenc-button ancenc-button-blue" id="wp-ancenc-save-settings"
                                aria-describedby="ancenc-submit-description" data-msg="">
                            Update settings
                        </button>

                        <span class="ancenc-icon-loader ancenc-loading ancenc-hidden"></span>
                    </div>
                </div><!-- end ancenc-box-footer -->


            </div><!-- end box-bulk-settings -->
        </div>
    </div><!-- end row -->


    <div class="ancenc-footer">
        Plugin by <a href="https://anciented.io">anciented.io</a>
    </div>

    <input type="hidden" id="wp_ancenc_options_nonce" name="wp_ancenc_options_nonce" value="1762e3eabe">
</div>